.listcontent {

}
.list {
    // list-style: none;
    li {
        text-align: left;
        margin: 16px 0;
    }
    background-color: red;
}

.post-content {
    width: 100%;
    ul {
        padding: 1.5rem;
        li {
            margin: 16px 0;
            word-spacing: 3px;
            font-size: 18px;
            line-height: 200%;
        }
    }
}