.post {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #ffffff;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    // border: 1px solid rgb(233, 233, 233);
    &_img {
        width: 100%;
        height: 22rem;
        border-radius: inherit;
        margin-bottom: 1.3rem;
        object-fit: cover;
        object-position: center;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
            object-position: center;
        }
        span {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: rgb(0, 0, 0, 0.5);
            color: #ffffff;
            padding: 5px;
            letter-spacing: 1px;
            font-size: 10px;
        }
    }
    &_icon {
        font-size: 32px;
        font-weight: bold;
        text-align: justify;
    }
    &_title {
        margin: 1.1rem;
        font-size: 38px;
    }
    &_subtitle {
        font-size: 32px;
        font-weight: bold;
        margin: 1.3rem 0;
        line-height: 150%;
    }
    &_section {
        text-align: left;
        color: rgb(39, 35, 35);
    }
    &_list {
        list-style: none;
        li {
            text-align: center;
            margin: 16px 0;
        }
    }
    &_price {
        font-size: 24px;
        font-weight: bold;
        margin: 1.3rem 0;
    }
    &_btnAdd {
        width: 50%;
        border-radius: inherit;
        height: 4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        &:hover {
            background-color: rgb(30, 29, 29);
            color: white;
            cursor: pointer;
        }
    }
}