.relatedposts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    &__header {
        margin-top: 1.5rem;
    }
    &__header_title {

}
    &__content {
        width: 100%;
        min-height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: auto;
        padding: 1rem;
        gap: 10px;
    }
}

.relatedpost {
    width: 100%;
    // border: 1px solid rgb(243, 243, 243);
    padding: 10px;
    &__image {
        width: 100%;
        // height: auto;
        height: 15rem;
        object-fit: fill;
        object-position: center;
        border-radius: 10px;
    }
    &__title {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        a {
            font-family: sans-serif;
            color: rgb(41, 40, 40);
            &:hover {
                cursor: pointer;
                color: rgb(160, 75, 25);
            }
        }
    }
    &__description {
        text-align: justify;
        font-size: 18px;
        color: rgb(39, 35, 35);
        font-family: sans-serif;
    }
}
