/* header  */
.header {
    height: 5rem;
    background-color: $secondary;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    opacity: .9;
    z-index: 10;
    position: sticky;
    top: 0;
    &__item {
        &:nth-child(1) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        &:nth-child(3) {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #bc5b00;
                width: 100%;
                text-align: center;
                text-decoration: none;
                &:hover {
                    // background-color: rebeccapurple;
                    // border-bottom: 1px solid beige;
                }
            }
        }
    }
}
